autoflake==2.3.3
black==26.5.1
cffi==2.1.0
click==8.4.2
et_xmlfile==2.0.0
Faker==40.28.1
iniconfig==2.3.0
isort==7.0.0
markdown-it-py==4.2.0
maturin==1.14.1
mdurl==0.1.2
mypy_extensions==1.1.0
numpy==2.4.2
openpyxl==3.1.5
packaging==26.2
pandas==3.0.0
pathspec==1.1.1
platformdirs==4.10.0
pluggy==1.6.0
polars==1.42.1
polars-runtime-32==1.42.1
pyarrow==23.0.1
pyclean==3.7.0
pycparser==3.0
pyflakes==3.4.0
Pygments==2.20.0
pytest==9.1.1
pytest-codspeed==5.0.3
python-dateutil==2.9.0.post0
pytokens==0.4.1
rich==15.0.0
-e git+ssh://git@github.com/rahmadafandi/rustpy-xlsxwriter.git@c42b28d5ad71d34ca02485693e1613dc48494f60#egg=rustpy_xlsxwriter
semantic-version==2.10.0
setuptools==82.0.1
setuptools-rust==1.13.0
six==1.17.0
tzdata==2026.3
xlsxwriter==3.2.9
