autoflake==2.3.1
black==24.10.0
cffi==1.17.1
click==8.1.8
Faker==37.0.2
iniconfig==2.0.0
isort==5.13.2
markdown-it-py==3.0.0
maturin==1.8.1
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pyclean==3.0.0
pycparser==2.22
pyflakes==3.2.0
Pygments==2.19.1
pytest==8.3.4
pytest-codspeed==3.2.0
rich==13.9.4
semantic-version==2.10.0
setuptools==75.6.0
setuptools-rust==1.10.2
tzdata==2025.1
XlsxWriter==3.2.0
